<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body ng-app="svgTest">

        <div ng-controller="AlertController as ac">

            <p>
                <button type="button" ng-click="ac.toggleAlert(ac.a)">A</button>
                <button type="button" ng-click="ac.toggleAlert(ac.b)">B</button>
                <button type="button" ng-click="ac.toggleAlert(ac.c)">C</button>
            </p>

            <svg width="400" height="400">
                <definitions>
                    <marker id="arrowhead" viewbox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                        <path d="M 0 0 L 10 5 L 0 10 z" style="fill:#000;stroke:none;"/>
                    </marker>
                    <marker id="arrowhead-red" viewbox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                        <path d="M 0 0 L 10 5 L 0 10 z" style="fill:#f00;stroke:none;" />
                    </marker>
                </definitions>

                <g ng-class="{alert: ac.a.alert}" transform="translate(20,20)" ng-click="ac.toggleAlert(ac.a)">
                    <rect width="40" height="40" />
                    <text x="20" y="20" dy="0.4em" text-anchor="middle">A</text>
                    <path d="M 40,20 L 110,20 L 110,90" marker-end="{{ac.a.alert == false ? 'url(#arrowhead)' : 'url(#arrowhead-red)'}}" />
                </g>

                <g ng-class="{alert: ac.b.alert}" transform="translate(110,110)" ng-click="ac.toggleAlert(ac.b)">
                    <rect width="40" height="40" />
                    <text x="20" y="20" dy="0.4em" text-anchor="middle">B</text>
                    <path d="M 20,40 L 20,110 L 90,110" marker-end="{{ac.b.alert == false ? 'url(#arrowhead)' : 'url(#arrowhead-red)'}}" />
                </g>

                <g ng-class="{alert: ac.c.alert}" transform="translate(200,200)">
                    <rect width="40" height="40" ng-click="ac.toggleAlert(ac.c)" />
                    <text x="20" y="20" dy="0.4em" text-anchor="middle" ng-click="ac.toggleAlert(ac.c)">C</text>
                </g>
            </svg>

        </div>

    </body>
</html>
