rect {
    fill: #fff;
    stroke: #777;
    stroke-width: 2px;
    cursor: pointer;
}

text {
    fill :#777;
    font-weight:bold;
    cursor: pointer;
}

path {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
}

@keyframes alert-glow {

    from {
        filter: drop-shadow(0 0 1px #900);
    }
    to {
        filter: drop-shadow(0 0 4px #f00);
    }
}

g.alert rect {
    stroke:#f00;
    animation-name: alert-glow;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46,.03,.52,.96);
}

g.alert text {
    fill: #f00;
}

g.alert path {
    stroke: #f00;
}
